# Ignore git metadata
.git
.gitignore

# Ignore build artifacts (we want Docker to build its own)
target/
*.jar

# Ignore IDE settings
.vscode/
.idea/
*.swp

# Ignore documentation and local scripts
README.md
Makefile
docker-compose*.yaml

# Ignore local data
mysql_data/